@use'../abstracts/variables';
html{
    font-size: 14px;   
}
body{
    max-height: 100vh;
    line-height: 1.2;
    background-color: variables.$clr-black;
}
img{
    display: block;
    max-width: 100%;
}
