@use'../abstracts/mixins';
@use'../abstracts/variables';

.card-user{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: variables.$clr-dark;
    margin: 5rem;
    border-radius: 0.5rem;
    @include mixins.respond-to(variables.$phone){
      display: block;
      margin: 1rem auto;
      width: 80%;
      text-align: center;
  }
}
.card-tabla{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: variables.$clr-dark;
    margin: 5rem;
    border-radius: 0.5rem;
    @include mixins.respond-to(variables.$phone){
      display: block;
      margin: 1rem auto;
      width: 80%;
      text-align: center;
  }
}
.info-user{
    @include mixins.set-font(variables.$ff, variables.$fw-bold, variables.$fs-med, variables.$clr-white);
    
}