@use'../abstracts/mixins';
@use'../abstracts/variables';

    .btn-form{
        @include mixins.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-med, variables.$clr-white);
        width: 100%;
        height: 4rem;
        background-color: variables.$clr-green;
        border-radius: 0.25rem;
    }
    .btn-view{
        @include mixins.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-xsm, variables.$clr-white);
        width: 100%;
        height: 3.4rem;
        background-color: variables.$clr-green;
        border-radius: 0rem 0rem 0.5rem 0.5rem ;
    }
    .btn-nav{
        @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-xxxsm, variables.$clr-black);   
        text-decoration: none;
    }
    .btn-card{
        @include mixins.set-font(variables.$ff, variables.$fw-semibold, variables.$fs-xxsm, variables.$clr-black);
        background-color: variables.$clr-white;
        border-radius: 0.5rem;
        width: 80%;
        height: 3rem;
        @include mixins.respond-to(variables.$phone){
            width: 100%;
        }
       
    }
    .btn-buscar{
        @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-med, variables.$clr-black);
        width: 100%;
        height: 3rem;
        background-color: none;
        border: none;
    }