@use'../abstracts/variables';
@use'../abstracts/mixins';

.carousel-0 {
    position: absolute;
    right: 33%;
    bottom: 20rem;
    left: 35%;
    color: variables.$clr-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33%;
    @include mixins.respond-to(variables.$phone){
        bottom: 6rem;
        left: 3%;
        right: 3%;

    }
}

